<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ujn.edu.bussiness_management.dao.ContactMapper">
  <resultMap id="BaseResultMap" type="ujn.edu.bussiness_management.model.Contact">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="belongCus" jdbcType="BIGINT" property="belongCus" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creatorDate" jdbcType="TIMESTAMP" property="creatorDate" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, position, belongCus, sex, telephone, phone, email, remark, creatorDate, 
    creator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contact
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from contact
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="ujn.edu.bussiness_management.model.Contact">
    insert into contact (id, name, position, 
      belongCus, sex, telephone, 
      phone, email, remark, 
      creatorDate, creator)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{belongCus,jdbcType=BIGINT}, #{sex,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{creatorDate,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyProperty="id"   useGeneratedKeys="true"  parameterType="ujn.edu.bussiness_management.model.Contact">
    insert into contact
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="belongCus != null">
        belongCus,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="creatorDate != null">
        creatorDate,
      </if>
      <if test="creator != null">
        creator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="belongCus != null">
        #{belongCus,jdbcType=BIGINT},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creatorDate != null">
        #{creatorDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ujn.edu.bussiness_management.model.Contact">
    update contact
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="belongCus != null">
        belongCus = #{belongCus,jdbcType=BIGINT},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="creatorDate != null">
        creatorDate = #{creatorDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ujn.edu.bussiness_management.model.Contact">
    update contact
    set name = #{name,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      belongCus = #{belongCus,jdbcType=BIGINT},
      sex = #{sex,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      creatorDate = #{creatorDate,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>